* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 0, 0);
}

.collapse {
    padding-left: 15%;
}

.headh {
    color: aliceblue;
    padding-left: 50px;
}

.btn:hover {
    color: rgb(255, 0, 200);
}

.ic {
    padding-right: 10px;
}

.navbar-brand {
    font-size: 30px;
    color: white;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.header-container {
    width: 90%;
    margin: auto;
}
.nav-item{
    margin-right: 20px;
}








.banner-container {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    background-color: black;
    color: white;
}


/* .banner-col{
    width: 50%;
    height: 100vh;
} */
/* .banner-row{
    width: 100%;
    display: flex;
} */
.banner-card {
    padding-top: 120px;
}

.banner-image img {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 100%;




}

.running {
    position: relative;
    color: rgb(255, 0, 200);
}

.running::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 1, 1);
    animation: showRight 1s ease alternate;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

.banner-card2 h2,
h3,
p,
.banner-icon,
.banner-button {
    padding-top: 20px;
}

.banner-icon i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
}

.banner-icon i:hover {
    color: rgb(211, 38, 139);
    border: 1px solid rgb(211, 38, 139);
}

.banner-button button {
    padding: 10px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    background-color: black;
    color: white;
    border: none;
    box-shadow:inset 0 0 4px 0;
    border-radius: 10px;
}

.banner-button button:hover {
    color: rgb(211, 38, 139);
}





.about-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: black;
    color: white;
}

/* #about-section{
    width: 100%;
    height: 100vh;
    position: relative;
    animation: mymove 5;
    animation-duration: 3s;
    scroll-behavior:smooth;
} */
/* @keyframes mymove {
    from {top: 100px;}
    to {top: 0px;}
  } */
.about-container h1 {
    box-shadow:inset 0 0 5px 0;
    border-radius: 50px;
    text-align: center;
    padding: 5px 0;
 
    /* background:linear-gradient(rgba(226, 226, 236, 0.5),rgba(3, 25, 41, 0.5)); 
     width: 300px;
    margin: auto;  */
}

.about-container h1 span {
    color: rgb(211, 38, 139);
}

/* .about-col{
    width: 40%;
    padding: 30px 20px;
} */
/* .about-col1{
    width: 60%;
    padding: 0px 20px;
    padding-top: 35px;
} */
/* .about-row{
    width: 100%;
    display: flex;
} */
.about-image img {
    width: 100%;

    /* display: block;
        margin:auto;  */
}

.about-card {
    box-shadow:inset 0 0 5px 0;
    padding: 10px 10px;
    border-radius: 20px;
}

.about-card1 {
    box-shadow:inset 0 0 5px 0;
    padding: 16px 10px;
    border-radius: 20px;
}

.about-card1 p {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-btn {
    padding: 18px 0;
}

.about-btn button {
    padding: 10px 25px;
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    box-shadow: 0 0 5px 0;
    background-color: black;
    color: white;
    margin-left: 10px;
    border-radius: 10px;
}

.about-btn button:hover {
    color: rgb(202, 24, 158);
}







.resume-container {
    width: 90%;
    margin: 0 auto;
    background-color: black;
    color: white;
}

#resume-section {
    padding-top: 50px;
}

.re-head {
    text-align: center;
    padding: 7px;
    box-shadow: inset 0 0 5px 0;
    margin-bottom: 20px;
    border-radius: 50px;
}

.re-head span {
    color: rgb(202, 24, 158);
}

/* .resume-col{
    width: 50%;
}
.resume-row{
    width: 100%;
    display: flex;
    padding-left:20px;
    border: 10px solid black;
    box-shadow: 0 0 2px 0;
} */
.resume-card span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.7;
}

.resume-card span:hover {
    color: rgb(245, 19, 188);
}

.resume-card {
    padding: 5px 0;

}

.resume-card h5 {
    padding: 3px;
}




/* education-section */

.edu-container {
    width: 95%;
    margin: auto;
    color: white;

}


.func {
    box-shadow: 0 0 10px 0;
    width: 95%;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.education-section {

    color: white;
    width: 90%;
    margin: auto;

}

.func:hover>div {
    transition-duration: 0.5s;
}

.func:hover>div:hover h3 i {
    transform: scale(1.25);
}

.func:hover>div:not(:hover) {
    opacity: 0.5;
}

.func h3 {
    transition-duration: 0.3s;
    /* margin-top: 0; */
}

.func h3 i {

    background: rgb(245, 19, 188);
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
}

.func .work,
.func .edu {
    float: left;
}

.func .work small,
.func .edu small {
    display: block;
    opacity: 0.7;
}

.func .work ul li,
.func .edu ul li {
    position: relative;
    /* margin-left: 15px; */
    padding-left: 25px;
    padding-bottom: 15px;
}

.func .work ul li:hover::before,
.func .edu ul li:hover::before {
    animation: circle 1s infinite;
}

.func .work ul li:hover span,
.func .edu ul li:hover span {
    color: rgb(245, 19, 188);
}

@keyframes circle {
    from {
        box-shadow: 0 0 0 0px rgb(245, 19, 188);
        ;
    }

    to {
        box-shadow: 0 0 0 6px rgb(245, 19, 188);
    }
}

/* .func .work ul li:first-of-type::before,
  .func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: 1px;
  } */

.func .work ul li::before,
.func .work ul li::after,
.func .edu ul li::before,
.func .edu ul li::after {
    content: "";
    display: block;
    position: absolute;
}

.func .work ul li::before,
.func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid white;
    background: rgb(245, 19, 188);
    border-radius: 50%;
    left: 3px;
    z-index: 1;
}

.func .work ul li::after,
.func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: white;
    left: 5px;
    top: 0;
}

.func .work ul li span,
.func .edu ul li span {
    transition-duration: 0.3s;
}
ul li a{
    text-decoration: none;
    color: white;
}











.skills-container {
    width: 90%;
    margin: auto;
    background-color: black;
    color: white;
}

.sk-head {
    text-align: center;
    box-shadow:inset 0 0 5px 0;
    padding: 7px;
    border-radius: 50px;
}

.sk-head span {
    color: rgb(245, 19, 188);
}

#skills-section {
    padding-top: 70px;
}

.progress {
    background-color: rgb(55, 55, 55);
}

.progress-bar {
    background-color: rgb(199, 15, 153);
}

.skills-card {
    border: 10px solid black;
    box-shadow:inset 0 0 5px 0;
    padding: 20px 10px;
    border-radius: 20px;
}

.skills-title {
    display: flex;
    justify-content: space-between;
}










/* .contact-container{
    background-color:black;
    color: white;
    width: 90%;
    margin: auto;
}
.con-head{
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 10px 0;
    border-radius: 50px;
}
.con-head span{
    color:rgb(199, 15, 153);
}
#contact-section{
    padding-top: 50px;
}
.contact-col{
    padding: 20px;
}
.contact-card{
    border: 10px solid black;
    box-shadow: 0 0 2px 0;

    text-align: center;
}
.contact-icon i:hover{
    border: 2px solid rgb(199, 15, 153);
    color: rgb(199, 15, 153);
}
/* .contact-card:hover{
    border: 1px solid white;
} */
/* .contact-card p{
    font-size: 25px;
}
.contact-card span{
    font-size: 15px;
}
.contact-icon i{
    font-size: 60px;
    color:white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 10px solid black;
    box-shadow: 0 0 5px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
} */




.contact-container {
    width: 90%;
    margin: auto;
    color: white;
}

.contact-card {
    display: flex;
    padding: 10px;
}

.contact-card p {
    padding: 15px;
}

.co-card {
    height: 90px;
    width: 100%;

    background-color: rgb(31, 31, 31);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.contact-icon:hover {
    background-color: rgb(199, 15, 153);

}

.contact-icon a i:hover {
    color: white
}

.contact-icon {
    height: 62px;
    width: 12%;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.contact-icon a i {
    font-size: 50px;
    color: rgb(199, 15, 153);

}

.con-head {
    padding: 5px;
    text-align: center;
    box-shadow:inset 0 0 5px 0;
    border-radius: 50px;
    margin-bottom: 30px;
}

.con-head span {
    color: rgb(199, 15, 153);
}

#contact-section {
    padding: 50px 0;
}





@keyframes showRight {
    100% {
        width: 0%;
    }
}